<!DOCTYPE html>
<html>
<head>

    <title>Social Influence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('css/icon.css') }}" rel="stylesheet">
    <link href="{{ asset('css/loader.css') }}" rel="stylesheet">
    <link href="{{ asset('css/idangerous.swiper.css') }}" rel="stylesheet">
    <link href="{{ asset('css/stylesheet.css') }}" rel="stylesheet">

</head>

<body>

<!-- THE HEADER -->
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Social Influence</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user_editProfile') }}">My Profile</a></li>
                            <li><a href="{{ path('user_listNetworks') }}">My Networks</a></li>
                            <li><a href="{{ path('offer_homepage') }}">My Offers</a></li>
                            {#<li><a href="#">Something else here</a></li>#}
                            {#<li role="separator" class="divider"></li>#}
                            {#<li><a href="#">Separated link</a></li>#}
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>

<!-- MAIN CONTENT -->
<div id="content-block">
    {#<div class="head-bg">#}
        {#<div class="head-bg-img"></div>#}
        {#<div class="head-bg-content">#}
            {#<h1>Your Best Social Network Template</h1>#}
            {#<p>Donec in rhoncus tortor. Sed tristique auctor ligula vel viverra</p>#}
            {#<a class="btn color-1 size-1 hover-1" href="blog-detail-2.html"><i class="fa fa-facebook"></i>sign up via#}
                {#facebook</a>#}
            {#<a class="be-register btn color-3 size-1 hover-6"><i class="fa fa-lock"></i>sign up now</a>#}
        {#</div>#}
    {#</div>#}
    {#<div class="container-fluid custom-container">#}
        {#<div class="row">#}
            {#<div class="col-md-2 left-feild">#}
                {#<form action="./" class="input-search">#}
                    {#<input type="text" required="" placeholder="Enter keyword">#}
                    {#<i class="fa fa-search"></i>#}
                    {#<input type="submit" value="">#}
                {#</form>#}
            {#</div>#}
            {#<div class="col-md-10 ">#}
                {#<div class="for-be-dropdowns">#}
                    {#<div class="be-drop-down">#}
                        {#<i class="icon-projects"></i>#}
                        {#<span class="be-dropdown-content"> Projects	</span>#}
                        {#<ul class="drop-down-list">#}
                            {#<li><a>Item - 1</a></li>#}
                            {#<li><a>Item - 2</a></li>#}
                            {#<li><a>Item - 3</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                    {#<div class="be-drop-down">#}
                        {#<i class="icon-creative"></i>#}
							{#<span class="be-dropdown-content">All Creative Filds#}
							{#</span>#}
                        {#<ul class="drop-down-list">#}
                            {#<li><a>Item - 1</a></li>#}
                            {#<li><a>Item - 2</a></li>#}
                            {#<li><a>Item - 3</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                    {#<div class="be-drop-down">#}
                        {#<i class="icon-features"></i>#}
							{#<span class="be-dropdown-content">Features#}
							{#</span>#}
                        {#<ul class="drop-down-list">#}
                            {#<li><a>Featured</a></li>#}
                            {#<li><a>Most Appreciated</a></li>#}
                            {#<li><a>Most Viewed</a></li>#}
                            {#<li><a>Most Discussed</a></li>#}
                            {#<li><a>Most Recent</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                    {#<div class="be-drop-down">#}
                        {#<i class="icon-worldwide"></i>#}
							{#<span class="be-dropdown-content">Worldwide#}
							{#</span>#}
                        {#<ul class="drop-down-list">#}
                            {#<li><a>Item - 1</a></li>#}
                            {#<li><a>Item - 2</a></li>#}
                            {#<li><a>Item - 3</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="container">
        <div class="section">
            {% block body %}
            {% endblock %}
        </div>
    </div>


    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/idangerous.swiper.min.js') }}"></script>
    <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('js/jquery.viewportchecker.min.js') }}"></script>
    <script src="{{ asset('js/global.js') }}"></script>


</body>
</html>