{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
    <div class="col-xs-12 col-sm-12">
    <div class="block">
    <h2 class="content-title">Create a new Offer</h2>
    <div class="block-subtitle">Maecenas et mollis ligula. Donec finibus feugiat laoreet.</div>
    <div class="contect-form">
        {{ form_start(form) }}
        <div class="row">

            <div class="col-xs-12 col-sm-6">
                <div class="form-group ">
                    {{ form_row(form.title) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 ">
                <div class="form-group">
                    {{ form_label(form.network) }}
                    {{ form_widget(form.network,{'attr':{'class':'browser-default'}}) }}

                </div>
            </div>
            {#<div class="col-xs-12 col-sm-6 fl_icon">#}
            {#<div class="form-group ">#}
            {#<div class="icon"><img src="img/mail-g-ico.png" alt=""></div>#}
            {#{{ form_row(form.description) }}#}
            {#</div>#}
            {#</div>#}
            <div class="col-xs-12 col-sm-6">
                <div class="form-group ">
                    {{ form_row(form.imageFile) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group ">
                    {{ form_row(form.price) }}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_row(form.description) }}
                </div>

                <button class="btn color-1 size-2 hover-1 pull-right">submit</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}