{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
    <div class="col-xs-12 col-sm-12">
    <div class="block">
    <div class="block-subtitle">Maecenas et mollis ligula. Donec finibus feugiat laoreet.</div>
    <div class="contect-form">
        {{ form_start(form) }}
        <div class="row">


            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title,{'attr':{'class':'form-input'}}) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 ">
                <div class="form-group">
                    {{ form_label(form.network) }}
                    {{ form_widget(form.network,{'attr':{'class':'form-input'}}) }}

                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group ">
                    {{ form_label(form.imageFile) }}
                    {{ form_widget(form.imageFile,{'attr':{'class':'form-input'}}) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group ">
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price,{'attr':{'class':'form-input'}}) }}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description,{'attr':{'class':'form-input'}}) }}
                </div>

                <button class="btn color-1 size-2 hover-1 pull-right">Create</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}