{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="blog-wrapper blog-list">

                <div class="blog-post be-large-post">
                    <div class="info-block clearfix">
                        <a class="btn btn-primary" href="{{ path('offer_addOffer') }}">New
                            Offer</a>
                        <h3 class="be-post-title text-center">
                            My offers
                        </h3>
                    </div>
                    <div class="be-large-post-align">

                        <table class="table table-striped">
                            <thead>
                            <th></th>
                            <th>Type</th>
                            <th>Titlte</th>
                            <th>Description</th>
                            </thead>
                            {% for offer in offers %}
                                <tr>
                                    <td>
                                        {% if offer.imageFile is not null %}
                                            <img src="{{ vich_uploader_asset(offer,'imageFile') }}" height="40">
                                        {% endif %}
                                    </td>
                                    <td>{{ offer.network.type }}</td>
                                    <td>{{ offer.title|capitalize }}</td>
                                    <td>{{ offer.description }}</td>
                                    <td><a href="{{ path('offer_showOffer',{'slug':offer.slug}) }}">See</a></td>

                                </tr>
                            {% endfor %}
                        </table>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}