{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
    <div class="col-xs-12 col-sm-12">
    <div class="block">
    <div class="block-subtitle">Maecenas et mollis ligula. Donec finibus feugiat laoreet.</div>
    <div class="contect-form">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username,{'attr':{'class':'form-input'}}) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description,{'attr':{'class':'form-input'}}) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                        {{ form_label(form.language) }}
                        {{ form_widget(form.language,{'attr':{'class':'form-input'}}) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Networks</label>
                        <ul>
                            {% for network in user.networks %}
                                <li>{{ network.username }}</li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="{{ vich_uploader_asset(user,'imageFile') }}" width="200px">
                {{ form_widget(form.imageFile,{'attr':{'class':'form-input'}}) }}

            </div>

        </div>
        <button class="btn color-1 size-2 hover-1 pull-right">Update</button>
        {{ form_end(form) }}

    </div>


{% endblock %}