{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <div class="blog-wrapper blog-list">

                <div class="blog-post be-large-post">
                    <div class="info-block clearfix">
                        <div class="be-large-post-align">
                        </div>
                    </div>
                    <div class="be-large-post-align">
                        <h3 class="be-post-title">
                            {{ user.username }}
                        </h3>
                        <img src="{{ vich_uploader_asset(user,'imageFile') }}">
								<span class="be-text-tags clearfix">
									<div class="post-date">
                                        </br>
                                        {{ user.description }}
                                    </div>
								</span>
                        <hr>
                        <span class="be-text-tags clearfix">
                        <div>
                            <h4 class="be-bottom-title">Languages</h4>
                            <ul>
                                {% for language in user.language %}
                                    <li>{{ language }}</li>
                                {% endfor %}
                            </ul>

                        </div>
                        </span>
                        <hr>
                        <span class="be-text-tags clearfix">
                        <div>
                            <h4 class="be-bottom-title">Networks</h4>
                            <div class="post-text">
                                {% for network in user.networks %}
                                    {{ network.username }}
                                {% endfor %}
                            </div>

                        </div>
                        </span>
                        <div class="clear"></div>
                    </div>
                    <div class="post-preview  be-large-post-slider">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <h3 class="letf-menu-article">{{ user.username|capitalize }} 's Offers</h3>
                {% for offer in user.offers %}
                    <div class="col-xs-12 col-sm-2">
                        <div class="be-post style-2">
                            {#<div class="be-post-date"><i class="fa fa-clock-o"></i> April 23, 2015</div>#}
                            <a href="blog-detail-2.html" class="be-post-title">{{ offer.title }}</a>
                            <a href="blog-detail-2.html" class="be-img-block">
                                <img src="{{ vich_uploader_asset(offer,'imageFile') }}" alt="omg">
                            </a>
									<span>
										{{ offer.description|slice(0,20) }}
									</span>
                            <div class="text-center">
                                <a href="{{ path('offer_showOffer',{'slug':offer.slug}) }}" class="btn btn-success">Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}